<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operations</title>
</head>
<body>
    <h2>Operations on {{ num1 }} and {{ num2 }}</h2>

    <p><strong>Addition:</strong> {{ num1 }} + {{ num2 }} = {{ add_result }}</p>
    <p><strong>Subtraction:</strong> {{ num1 }} - {{ num2 }} = {{ sub_result }}</p>
    <p><strong>Division:</strong> {{ num1 }} / {{ num2 }} = {{ divide_result }}</p>
    <p><strong>Greater number:</strong> {{ num1 }} > {{ num2 }} = {{ compare_num }}</p>

    

</body>
</html>
